CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions/v2/16m_c6.csv"
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_SR_WN_WN9S_NIHAOXIAOZHI=y

# 临时跳过服务器证书验证（因 CRT bundle 崩溃）
CONFIG_ESP_TLS_SKIP_SERVER_CERT_VERIFY=y

# 彻底禁用 mbedTLS 证书捆绑包（CRT bundle 崩溃）
# CONFIG_MBEDTLS_CERTIFICATE_BUNDLE is not set
